body{
  background-color: grey;
  
}
.App{
  background-color:pink;
  min-height:500px;
  width: 400px;
  margin: 40px auto;
}

#to-do-form input{
  background-color: rgb(115, 205, 63);
  width: 200px;
  height: 50px;
  margin: 20px;
  padding: 0 20px;
  font-size: 18px;
  
}
#to-do-form input::placeholder{
  color: rgba(255, 255, 255, 0.5);
}

#to-do-form button{
  height: 50px;
  width: 80px;
  background-color:rgb(24, 160, 202); 
  cursor: pointer;
  color:white;
}
